name: Norminette & Valgrind CI (Docker)

on:
  push:
    branches: [ "*" ]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Build CI Docker image
        run: docker build -t ci-image -f docker/Dockerfile.ci .

      - name: Build project
        run: |
          docker run --rm -v ${{ github.workspace }}:/app ci-image \
            bash -c "make"

      - name: Run Valgrind
        run: |
          docker run --rm -v ${{ github.workspace }}:/app ci-image \
            bash -c 'valgrind --leak-check=full --error-exitcode=1 ./cub3D'
